<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.delivery.salad.cart.mapper.ICartMapper">
	<!-- namespace는 어떤 interface를 참조하는지 지정 -->

	<!-- 
	CREATE TABLE `CART` (
	`CARTNUM`	INT	auto_increment primary key,
	`USERID`	VARCHAR(50)	NOT NULL,
	`PRODNUM`	INT	NOT NULL,
	`QUANTITY`	INT(200) 	NOT NULL
	); 
	
	-->
	
	<resultMap type="com.delivery.salad.command.CartVO" id="CartMap">
	
	  	<id property = "cartNum" column="CARTNUM"/>
	  	
	  	<result property="userId" column="USERID"/>
	  	<result property="prodNum" column="PRODNUM"/>
	  	<result property="quantity" column="QUANTITY"/>

	</resultMap> 
		

	<insert id="addCart">
		INSERT INTO CART
		(USERID, PRODUCTNUM, PRODUCTCOUNT)
		VALUES(#{userId}, #{productNum}, #{productCount})
	</insert>
	
	<delete id="deleteCart">
		delete from CART where CARTNUM = #{cartNum}
	</delete>
	
	<update id="updateCart">
		update CART set PRODUCTCOUNT = #{productCount} where CARTNUM = #{cartNum}
	</update>
	
	<select id="getCart" resultType="com.delivery.salad.command.CartVO">
		select a.cartNum, a.userId, a.productNum, a.productCount, b.productName, b.productPrice
		from CART a left outer join PRODUCT b on a.productNum = b.productNum
		where userId = #{userId}	
	</select>
	
	<!-- 카트 확인 -->
	<select id="checkCart" resultType="com.delivery.salad.command.CartVO">
	
		select * from CART 
		where USERID = #{userId} and PRODUCTNUM = #{productNum}
	
	</select>
	
	<delete id="deleteOrderCart">
		delete from CART where USERID=#{userId} and PRODUCTNUM =#{productNum}
	
	</delete>
	
	

</mapper>