<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.delivery.salad.orders.mapper.IOrdersMapper">
	<!-- namespace는 어떤 interface를 참조하는지 지정  -->
	
	  
	  <resultMap type="com.delivery.salad.command.OrdersVO" id="OrdersMap">
	  	
	  	<id property="orderNum" column="ORDERNUM"/>
	  	
	  	<result property="userEmail" column="USEREMAIL"/>
	  	<result property="orderName" column="ORDERNAME"/>
	  	<result property="orderPhone" column="ORDERPHONE"/>
	  	<result property="orderEmail" column="ORDEREMAIL"/>
	  	<result property="orderAddress1" column="ORDERADDRESS1"/>
	  	<result property="orderAddress2" column="ORDERADDRESS2"/>
	  	<result property="orderAddress3" column="ORDERADDRESS3"/>
	  	<result property="orderState" column="ORDERSTATE"/>
	  	<result property="deliveryCost" column="DELIVERYCOST"/>
	  	<result property="orderDate" column="ORDERDATE"/>
	  	<result property="orderCount" column="ORDERCOUNT"/>
	  	<result property="productNum" column="PRODUCTNUM"/>
		<result property="productCount" column="PRODUCTCOUNT"/>
	  	<result property="productName" column="PRODUCTNAME"/>
	  	<result property="productPrice" column="PRODUCTPRICE"/>
	  	<result property="totalPrice" column="TOTALPRICE"/>
	  	<result property="deliveryComment" column="DELIVERYCOMMENT"/>
	  </resultMap>


	<insert id="registOrder">
		INSERT INTO ORDERS(USEREMAIL,ORDEREMAIL,ORDERNAME,ORDERPHONE,ORDERADDRESS1,ORDERADDRESS2,ORDERADDRESS3,ORDERSTATE,DELIVERYCOST,PRODUCTNUM,ORDERCOUNT,PRODUCTNAME,PRODUCTPRICE,TOTALPRICE,DELIVERYCOMMENT)
		VALUES(#{userEmail},#{orderEmail},#{orderName},#{orderPhone},#{orderAddress1},#{orderAddress2},#{orderAddress3},'주문완료',#{deliveryCost},#{productNum},#{orderCount},#{productName},#{productPrice},#{totalPrice},#{deliveryComment})
	</insert>
	
<!-- 	<insert id="registProd">
		INSERT INTO ORDERPROD ( PRODUCTNUM, PRODUCTCOUNT, PRODUCTNAME, PRODUCTPRICE, TOTALPRICE) 
		VALUES( #{productNum}, #{productCount}, #{productName}, #{productPrice}, #{totalPrice})
	</insert> -->
	
	<select id="getAllOrders" resultType="com.delivery.salad.command.OrdersVO">
		SELECT * FROM ORDERS 
		WHERE USEREMAIL = #{userEamil}
	</select>
	

</mapper>
