<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.delivery.salad.product.mapper.IProductMapper">

 <resultMap type="com.delivery.salad.command.ProductVO" id="product">
	<result property="productNum" column="PRODUCTNUM" />
	<result property="productPrice" column="PRODUCTPRICE" />
	<result property="productCount" column="PRODUCTCOUNT" />
	<result property="productName" column="PRODUCTNAME" />
	<result property="productContent" column="PRODUCTCONTENT" />
	<result property="productRegistDate" column="PROUDCTREGISTDATE" />
	<result property="productUpdateDate" column="PRODUCTUPDATEDATE" />
	<result property="productImgUrl" column="PRODUCTIMGURL" />
	<result property="productImgName" column="PRODUCTIMGNAME" />
	<result property="productImgOriginalFileName" column="PRODUCTIMGORIGINALFILENAME" />
	<result property="productContentImgUrl" column="PRODUCTCONTENTIMGURL" />
	<result property="productContentImgName" column="PRODUCTCONTENTIMGNAME" />
	<result property="productContentImgName" column="PRODUCTCONTENTIMGNAME" />
	<result property="productContentOriginalFileName" column="PRODUCTCONTENTORIGINALFILENAME" />
	


</resultMap> 

<!-- QnA -->
<resultMap type="com.delivery.salad.command.QnAVO" id="qna">
	<result property="qnaNum" column="QNANUM"/>
	<result property="qnaWriter" column="QNAWRITER"/>
	<result property="qnaPw" column="QNAPW"/>
	<result property="qnaTitle" column="QNATITLE"/>
	<result property="qnaContent" column="QNACONTENT"/>
	<result property="qnaRegistDate" column="QNAREGISTDATE" />
	<result property="qnaUpdateDate" column="QNAUPDATEDATE" />
	<result property="productNum" column="PRODUCTNUM" />

</resultMap>



<!--  상품 전체 개수 조회  -->
<select id="productTotalCount" resultType="int">
	SELECT COUNT(*) FROM PRODUCT
</select>

<!--  상품 전체 조회 -->
<select id="productList" resultMap="product">
	SELECT * FROM PRODUCT
	ORDER BY PRODUCTNUM DESC
	limit #{pageStart},#{countPerPage}
	
</select>

<!--  특정 상품 상세 조회  -->
<select id="productSelect" resultMap="product">
	SELECT * FROM PRODUCT
	WHERE PRODUCTNUM=#{productNum}
</select>

<!-- 상품 등록  -->
<insert id="productRegist"   useGeneratedKeys="true" keyColumn="PRODUCTNUM" keyProperty="productNum">

	INSERT INTO PRODUCT(PRODUCTPRICE,PRODUCTCOUNT,PRODUCTNAME,PRODUCTCONTENT,PRODUCTIMGURL,PRODUCTIMGNAME,PRODUCTCONTENTIMGURL,PRODUCTCONTENTIMGNAME,PRODUCTIMGORIGINALFILENAME,PRODUCTCONTENTORIGINALFILENAME)
	VALUES(#{productPrice},#{productCount},#{productName},#{productContent},#{productImgUrl},#{productImgName},#{productContentImgUrl},#{productContentImgName},#{productImgOriginalFileName},#{productContentOriginalFileName})
</insert>

<!--  상품 수정  -->
<update id="productModify" >
	UPDATE PRODUCT SET 
	PRODUCTPRICE=#{productPrice},PRODUCTCOUNT=#{productCount},
	PRODUCTNAME=#{productName},PRODUCTCONTENT=#{productContent},
	PRODUCTUPDATEDATE=now(),productImgOriginalFileName=#{productImgOriginalFileName},
	productContentOriginalFileName=#{productContentOriginalFileName}
	WHERE PRODUCTNUM=#{productNum} 

</update>


<!-- 상품 삭제  -->
<delete id="productDelte">
	DELETE FROM PRODUCT
	WHERE PRODUCTNUM=#{productNum}
</delete>





<!--  QnA 전체 개수 조회  -->
<select id="productQnATotalCount" resultType="int">
	SELECT COUNT(*) FROM PRODUCTQNA
	
</select>

<!--  QnA 전체 조회 -->
<select id="productQnAList" resultMap="qna">
	SELECT * FROM PRODUCTQNA
	ORDER BY qnaNum DESC
	limit #{pageStart},#{countPerPage}
	
</select>

<!--  QnA 상세 조회  -->
<select id="productQnASelect" resultMap="qna">
	SELECT * FROM PRODUCTQNA
	WHERE QNANUM=#{qnaNum}
</select>

<!--  QnA 등록 -->
<insert id="productQnARegist"  >
	INSERT INTO PRODUCTQNA(QNAWRITER,QNAPW,QNATITLE,QNACONTENT,PRODUCTNUM)
	VALUES (#{qnaWriter},#{qnaPw},#{qnaTitle},#{qnaContent},#{productNum})
</insert>

<!--  QnA 수정  -->
<update id="productQnAModify" >
	UPDATE PRODUCTQNA SET 
	QNATITLE=#{qnaTitle},QNACONTENT=#{qnaContent},QNAUPDATEDATE=now()
	WHERE QNANUM=#{qnaNum} 

</update>

<!-- QnA 삭제  -->
<delete id="productQnADelte">
	DELETE FROM PRODUCTQNA
	WHERE QNANUM=#{qnaNum}
</delete>
</mapper>